.algo-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; /* Change to column direction */
  align-items: center;
  justify-content: center; /* Add this line to center the content vertically */
}

.bubble-sort-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  background-color: #ccc;
  width: 50vh;
  height: 50vh;

  display: flex;
  flex-direction: row;
}

.number-div {
  margin-left: 0.1vh;
  margin-right: 0.1vh;
  height: 100%;
  background-color: white;
}

.number-div p {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 550;
  line-height: 20px;
  color: black;
  transform: translateY(-40px) rotate(180deg);
}
